/*Desktop*/
	@media screen and (min-width: 768px) {
		.nav-link {
			padding-bottom: 5px;
		}
		.nav-item{
			transition: 0.25s;
		}
		.nav-item:hover {
			transform: translateY(-5px);
			transition: 0.25s;
		}
		.nav-link:hover::after {
			content: '';
			display: block;
			border-bottom: 3px solid #198ad3;
			width: 75%;
			margin: auto;
			margin-bottom: -3px;
		}
		.jumbotron .display-6 {
			padding-top: 250px;
			font-size: 62px;
		}
		.menubar {
			margin-top: 20px;
		}
		.informasi {
			padding-top: 50px;
		}
	}


/*Semua*/
body {
	margin: auto;
}
body.darkmode, .darkmode .card-body{
    background: rgb(57, 57, 57);
    color: rgb(227, 227, 227);
}
body.darkmode .panel{
	background-color: rgba(0, 0, 0, 0.75);
}
body.darkmode .navbar{
	background-color: rgba(0, 0, 0, 0.75);
}
body.darkmode .navbar-brand{
	color: white !important;
}
body.darkmode .nav-link{
	color: white !important;
}
body.darkmode .fa-bars, .darkmode .fa-search, .darkmode .searchbar{
	color: white !important;
}
body.darkmode .modal-content{
	background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
}
body.darkmode .lightbtn{
	visibility: visible;
}
body.darkmode .icon p{
	color: white !important;
}
.lightbtn{
	visibility: hidden;
}

/*Navbar*/
	.navbar {
		background-color: rgba(255, 255, 255, 0.75);
		backdrop-filter: blur(20px);
	}
	.navbar-brand, .nav-link {
		color: black !important;
		margin-top: -5px;
	}
/*jumbotron*/
	.jumbotron {
		background-image: url(https://source.unsplash.com/1600x900/?nature,mount,field,desk);
		background-size: cover;
		height: 600px;
		margin-top: -75px;
		text-align: center;
		position: relative;
	}
	.jumbotron .display-6 {
		color: #fff;
		font-weight: 350;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}
	.jumbotron .display-6 span {
		font-weight: 500;
	}
	.jumbotron::after {
		content: '';
		display: block;
		width: 100%;
		height: 80%;
		background-image: linear-gradient(to bottom, rgba(0,0,0, 0.75), rgba(0,0,0,0));
		position: absolute;
		top: 0;
	}
	.jumbotron .container {
		z-index: 1;
		position: relative;
	}
/*panel*/
	.panel {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		border-radius: 12px;
		margin-top: -40px;
		margin-bottom: 20px;
		background-color: rgba(255, 255, 255, 0.75);
		backdrop-filter: blur(20px);
		z-index: 1;
	}

/*main*/
	.menubar {
		text-align: center;
	}
	.tmenu {
		width: 45px;
		height: 45px;
		border-radius: 12px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		border: none;
		transition: 0.25s;
	}
	.tmenu:hover {
		box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
		transform: translateY(-5px);
		transition: 0.25s;
	}
	.icon {
		text-align: center;
	}
	.accordion-item {
		border: none;
		background: none;
	}
	.informasi h2 span {
		font-weight: 400;
	}
	.informasi p {
		text-align: justify;
	}
	.carousel-inner {
		border-radius: 12px;
	}
	.darigoogle {
		width: 100%;
		height: 50vh;
		margin-bottom: 30px;
		border-radius: 12px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		transition: 0.25s;
	}
	.darigoogle:hover{
		transform: translateY(-5px);
		transition: 0.25s;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	}
	.sosmed img{
		width: 75px;
		height: 75px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.iconlink{
		transition: 0.25s;
		float: left;
	}
	.iconlink:hover{
		transform: scale(1.08);
		transition: 0.25s;
	}
	.sosmed h4 {
		font-size: 16px;
		font-weight: bold;
		margin-top: 10px;
	}
	.sosmed p {
		font-size: 15px;
		color: #303030;
		margin-top: -5px;
		font-weight: 200;
	}

/*Gallery*/
	.card img, .card {
		border-radius: 12px;
	}
	.card {
		transition: 0.25s;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		margin-bottom: 10px;
	}
	.card:hover{
		transition: 0.25s;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	}
	.modal{
		backdrop-filter: blur(10px);
		background: rgba(0, 0, 0, 0.1);
	}
	.modal-content{
		background-color: rgba(255, 255, 255, 0.75);
		backdrop-filter: blur(20px);
		border-radius: 12px;
		border: 5px solid;
		border-color: rgba(255, 255, 255, 0.25);
	}

/*staff*/
	.profile img{
		width: 50px;
		border: 4px solid #cccccc;
		text-align: center;
		z-index: 6;
		margin-top: 15px;
	}
	.profile-c img{
		width: 75px;
		border: 5px solid #cccccc;
		text-align: center;
		z-index: 6;
		margin-top: 15px;
	}
	#about h4{
		font-size: 20px;
	}
	.figure li {
		display: inline-block;
		padding: 0;
		margin: 0;
		text-decoration: none;
	}

/*project*/
	.my-profiles {
		background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5));
		backdrop-filter: blur(20px);
		margin: 20px;
		border-radius: 25px;
	}
	.personal-info p {
		padding: 0;
		margin: 0;
	}
	.card-project {
		backdrop-filter: blur(10px);
		background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5));
	}
	.progress{
		border-radius: 12px;
		background: rgba(255, 255, 255, 0.3);
	}
	.progress-bar {
		border-radius: 12px;
		background-color: rgba(72, 30, 175, 1);
	}
	.my-project {
		background-image: linear-gradient(to top, rgba(0,0,0, 75), rgba(0,0,0,0));
	}
	.navigasi {
		background: linear-gradient(45deg, hsla(217, 100%, 50%, 1) 10%, hsla(258, 60%, 58%, 1) 100%);
		position: fixed;
		bottom: 20px;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		color: white;
		width: 100px;
	}
/*footer*/
footer {
	background-color: #3f3f3f;
}


/*Utility*/
	.tombol {
		border-radius: 15px;
		border: none;
	}
	.btn-primary, .primary{
		background: linear-gradient(45deg, hsla(217, 100%, 50%, 1) 10%, hsla(258, 60%, 58%, 1) 100%);
	}
	.tombol-kaca {
		background-color: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(20px);
		border-radius: 15px;
		border: none;
		color: white;
		border: 2px solid;
		border-color: rgba(255, 255, 255, 0.75);
	}
	.tombol-kaca:hover {
		background-color: rgba(255, 255, 255, 0.1);
		color: white;
	}
	.dropdown-menu {
		border-radius: 12px;
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(25px);
	}
	.line {
		border: 1px solid;
	}
	.slider {
	  width: 100%;
	  text-align: center;
	  overflow: hidden;
	  margin: 30px 0;
	}
	.slides {
	  display: flex;
	  overflow-x: auto;
	  scroll-snap-type: x mandatory;
	  scroll-behavior: smooth;
	  -webkit-overflow-scrolling: touch;
	}
	.slides::-webkit-scrollbar { width: 10px; height: 5px; }
	.slides::-webkit-scrollbar-thumb { background: #ccc; border-radius: 12px; }
	.slides::-webkit-scrollbar-track { background: transparent; }
	.slides > div {
	  scroll-snap-align: start;
	  flex-shrink: 0;
	  width: 220px;
	  margin: 0 5px 0 5px;
	  transform-origin: center center;
	  transform: scale(1);
	  transition: transform 0.5s;
	  position: relative;
	  justify-content: center;
	  align-items: center;
	  overflow: hidden;
	  font-size: 100%;
	}
	.bg-loader {
		background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(10px);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bg-loader p {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #0E89A2;
	}
	.bg-loader .kotak {
		background-color: rgba(255, 255, 255, 0.75);
		padding: 20px;
		border-radius: 25px;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	}
	.bg-loader .loader {
		width: 120px;
		height: 120px;
		border: 4px solid rgba(255, 255, 255, 0);
		border-radius: 50%;
		border-top-color: #3382E2;
		border-bottom-color: #3382E2;
		animation: muter .8s linear infinite;
	} 
	@keyframes muter {
		100% {
			transform: rotate(360deg);
		}
	}
/*akhir utility*/

/*Mobile*/
	@media screen and (max-width: 768px) {
		.container {
			width: 85%;
		}
		.content .container{
			width: 92%;
			overflow: hidden;
		}
		.navbar{
			margin: 0 10px 0 10px;
			top: 10px;
			border-radius: 12px;
		}
		.searchbar{
			max-width: 250px;
		}
		.jumbotron {
			margin-top: 0px;
			height: 350px;
			text-align: left;
		}
		.jumbotron h1 {
			padding-top: 65px;
			font-size: 30px;
		}
		.informasi h2 {
			font-size: 30px;
		}
		.panel {
			margin-top: -130px;
			padding-top: 20px;
			overflow: visible;

		}
		.icon p {
			font-size: 15px;
			color: #303030;
			font-weight: 200;
		}
	}
/*akhir mobile