/*Desktop*/
	@media screen and (min-width: 768px) {
		.nav-link {
		padding-bottom: 5px;
		}
		.nav-link:hover::after {
			content: '';
			display: block;
			border-bottom: 3px solid;
			width: 80%;
			margin: auto;
		}
		.jumbotron .display-6 {
			padding-top: 250px;
			font-size: 62px;
		}
	}
/*akhir desktop*/




/*Semua*/
body {
	margin: auto;
}


/*Navbar*/
	.navbar {
		background-color: rgba(0, 0, 0, 0.75);
		backdrop-filter: blur(20px);
	}
	.navbar-brand, .nav-link {
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	}


/*jumbotron*/
	.jumbotron {
		background-image: url(img/banner2.jpg);
		background-size: cover;
		height: 600px;
		margin-top: -75px;
		text-align: center;
		position: relative;
	}
	.jumbotron .display-6 {
		color: #fff;
		font-weight: 200;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
		padding-bottom: 30px;
	}
	.jumbotron .display-6 span {
		font-weight: 400;
	}
	.jumbotron::after {
		content: '';
		display: block;
		width: 100%;
		height: 75%;
		background-image: linear-gradient(to top, rgba(0,0,0, 1), rgba(0,0,0,0));
		position: absolute;
		bottom: 0;
	}
	.jumbotron .container {
		z-index: 1;
		position: relative;
	}


/*info panel*/
	.info-panel {
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
		border-radius: 12px;
		margin-top: -50px;
		margin-bottom: 20px;
		background-color: white;
		z-index: 1;
		padding: 30px;
	}
	.info-panel img{
		width: 80px;
		height: 80px;
		margin-right: 10px;
	}
	.info-panel h4 {
		font-size: 16px;
		font-weight: bold;
		margin-top: 10px;
	}
	.info-panel p {
		font-size: 15px;
		color: #303030;
		margin-top: -5px;
		font-weight: 200;
	}
	.float-left {
		float: left;
	}
	.kotak {
		background-color: #DBE7EF;
		border-radius: 12px;
		margin-left: 10px;
		margin-right: 10px;
	}


/*info*/
	.informasi p {
		text-align: justify;
	}
	#info {
		background-color: #DBE7EF;
	}


/*contact*/
	#contact {
		background-color: #DBE7EF;
	}


/*staff*/
	.staff img {
		width: 160px;
		border: 8px solid #cccccc;
		text-align: center;

	}


/*footer*/
footer {
	background-color: #3f3f3f;
	margin-top: 0;
	padding-top: ;
}




/*Utility*/
	.tombol {
		border-radius: 25px;
	}
/*akhir utility*/




/*Mobile*/
	@media screen and (max-width: 768px) {
		.container {
			width: 80%;
		}
		.jumbotron {
			margin-top: 0px;
			height: 300px;
		}
		.jumbotron h1 {
			padding-top: 90px;
			font-size: 25px;
		}
		.info-panel {
			margin-top: -25px;
		}
		.kotak {
			margin-left: 0;
			margin-right: 0;
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.yt {
			margin-top: 0;
		}
		.wa {
			margin-bottom: 0;
		}
	}
/*akhir mobile*/